/* font import */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200&display=swap');

/* set default layout */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body and heading text */

body {
    font-family: Lora, sans-serif;
    color: #232222
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    color: #232222;
}

th, td {
    padding: 5px 25px;
    text-align: center;
}

iframe {
    width: 100%;
    height: 300px;
}

footer {
    height: 100px;
}

.nav .active {
    color: #78748F;
}

ul, ol {
    padding: 0;
}

/* header and navigation links */

.logo {
    text-transform: uppercase;
    float: left;
    margin-left: 20px;
    font-size: 275%;
    letter-spacing: 1px;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    line-height: 75px;
}

.logo i {
    color: #78748F;
}

.navbar {
    font-size: 110%;
    letter-spacing: 1px;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: inherit;
  }

  nav .navbar-nav li a {
      color: inherit !important;
  }

  nav .navbar-nav li a:hover {
    color: #78748F !important;
    }

/* hero image and text section */

.hero {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    background: url(../images/hero-image.jpeg) no-repeat 20% 60% / cover;

    height: 650px;
    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.hero-text {
 
    width: 75%;

    background-color: rgba(120, 116, 143, 0.7);
    text-align: center;
    padding: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.hero-text, .hero-text h2 {
    color: #fff;
}

.hero-text h2 {
    font-size: 44px;
}

.hero-text h3 {
    font-size: 22.5px;
}

/* about section */

.about {
    height: 650px;
    position: relative;
    width: 100%;
}

.about-contents {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-text {
    width: 450px;
    height: 375px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    float: right;
}

.about-text h3 {
    font-size: 36px;
    color: #78748F;
}

.about-text p {
    line-height: 1.6;
    font-size: 17px;
    color: #232222;
}

.about-photo {
    height: 375px;
    width: 375px;
    border-radius: 50%;
}

/* review section */

.reviews {
    width: 100%;
    overflow: hidden;
}

.review-container {
    background: url(../images/review-photo.jpeg) no-repeat center / cover;
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.review-one {
    float: left;
}

.review-two {
    margin: 0 auto;
}

.review-three {
    float: right;
}

.review-container p {
    color: #fff;
    font-style: italic;
    line-height: 1.6;
    font-size: 17px;
}

.review-style {
    background-color:rgba(120, 116, 143, 0.7);
    height: 400px;
    width: 33%;
    padding: 35px;
    margin: 2.5%;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review-container i {
    color: gold;
}

.customer-heads {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    object-fit: cover;
}

/* location */

.location {
    width: 100%;
}

.location-card {
    width: 75%;
    padding: 2%;
    background-color:#78748F;
    margin: 75px auto;
    color:#fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.location-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.location-card i {
    color: #fff;
    font-size: 22.5px;
}

.location-card > h3 {
    font-size: 22.5px;
}

.location-card > p {
    font-size: 17px;
    padding: 5px;
}

.table-card {
    margin: 0 auto;
}

/* footer */

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 175%;
    padding: 5%;
    margin: 1%;
    color: #232222;
}

.social-media i:hover {
    color: #78748F;
}

/* courses html page */

.course-section h1, h3, h3, h4, p {
    color:#fff;
}

.course-section h3 {
    font-size: 20px;
}

.courses-text {
    width: 100%;
    background-color: rgba(120, 116, 143, 0.7);
    text-align: center;
    padding: 50px;
}

.courses-container {
    background: url(../images/courses-image.jpeg) no-repeat center / cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course-card {
    background-color: rgba(120, 116, 143, 0.7);
    height: 450px;
    width: 400px;
    margin: 25px;
    padding: 16px;
    text-align: center;
    float: left;
    border-radius: 10%;
}




/* media queries */

/* for media screens 1100px wide and down (index.html page) */

@media screen and (max-width: 1100px) {

/* hero image and hero text */

    .hero {
        height: 450px;
    }

    .hero-text {
        padding: 25px;
    }

    .hero-text h2 {
        font-size: 34px;
    }

    .hero-text h3 {
        font-size: 18px;
    }

/* about section */

    .about {
        height: 500px;
    }

    .about-text {
        width: 75%;
        height: auto;
        margin-top: 5%;
    }

    .about-text h3 {
        font-size: 24px;
    }

    .about-text p {
        font-size: 16px;
    }

    .about-photo {
        height: 150px;
        width: 150px;
    }

    .about-contents {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
    }

/* review section */

    .review-container p {
        font-size: 16px;
    }

    .review-style {
        padding: 20px;
        margin: 5% 1%;
    }

/* location */

    .location-card > h3 {
        font-size: 18px;
    }

    .location-card > p {
        font-size: 16px;
    }

    .location-card i {
        color: #fff;
        font-size: 18px;
    }

}

/* for media screens 840px wide and down (index.html page) */

@media screen and (max-width: 840px) {

/* header and navigation links */
    .logo {
        font-size: 200%;
    }

/* hero image and text section */
    .hero-image {
        background: url(../images/hero-image.jpeg) no-repeat contain;
    }

    .hero-text h2 {
        font-size: 28px;
    }

    .hero-text h3 {
        font-size: 16px;
    }

/* about section */

    .about {
        height: 400px;
        margin: 80px 0;
    }

    .about-text h3 {
        font-size: 20px;
    }

    .about-text p {
        font-size: 15px;
    }

    .about-photo {
        height: 100px;
        width: 100px;
    }

/* review section */

    .review-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .review-style {
        width: var(--reviewsWidth);
        height: var(--reviewsHeight);
        margin: var(--reviewsMargin);
        box-sizing: border-box;
        margin: 2%;
    }

/* location */

    .location-card > h3 {
        font-size: 16px;
    }

    .location-card > p {
        font-size: 12px;
    }

    .location-card i {
        color: #fff;
        font-size: 16px;
    }

/* footer */
    .social-media i {
        padding: 10%;
        margin: 2%;
}

/* for media screens 375px wide and down (index.html page) */

@media screen and (max-width: 375px) {

/* header and navigation links */
    .logo {
        font-size: 150%;
    }

/* about section */
    .about {
        margin: 100px 0;
    }

    .location-card > h3 {
        font-size: 14px;
    }

    .location-card > p {
        font-size: 11px;
    }

    .location-card i {
        color: #fff;
        font-size: 14px;
    }

}

}