/* font import */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200&display=swap');

/* set default layout */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body and heading text */

body {
    font-family: Lora, sans-serif;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    color: #232222;
}

#nav .active {
    color: #78748F;
}

/* header and navigation links */

.logo {
    text-transform: uppercase;
    float: left;
    margin-left: 20px;
    font-size: 275%;
    letter-spacing: 1px;
}

i {
    color: #78748F;
}

.nav, .logo {
    line-height: 75px;
}

.nav {
    font-size: 110%;
    letter-spacing: 1px;
}

.nav li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav a:hover {
    color: #78748F;
}

/* hero image and text section */

#hero {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    background: url(../images/hero-image.jpeg) no-repeat 20% 60% / cover;

    height: 650px;
    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.hero-text {
 
    width: 900px;

    background-color: rgba(120, 116, 143, 0.5);
    text-align: center;
    padding: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.hero-text, .hero-text h2 {
    color: #fff;
}

.hero-text h2 {
    font-size: 2.75rem;
}

.hero-text h3 {
    font-size: 1.4rem;
}

/* about section */

#about {
    height: 650px;
    position: relative;
    width: 100%;
}

.about-contents {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-text {
    width: 450px;
    height: 375px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
}

.about-image {
    float: right;
}

.about-text h3 {
    font-size: 2.25rem;
    color: #78748F;
}

.about-text p {
    line-height: 1.6;
    font-size: 1.1rem;
}

.about-photo {
    height: 375px;
    width: 375px;
    border-radius: 50%;
}

/* testimonial section */

#testimonials {
    background-image: url("../images/testimonial-photo.jpeg") no-repeat center / cover;
    overflow: hidden;
    height: 650px;
    width: 100%;
    margin: 0;
}







#temp-clear {
    clear: both;
}